SECRET_KEY=secret_key_here
DEBUG=True

# Configurações do Banco de Dados
POSTGRES_DB=aba_db_example
POSTGRES_USER=admin_example
POSTGRES_PASSWORD=admin_example
POSTGRES_HOST=db_example
POSTGRES_PORT=5432_example